*{
    margin: 0;
    padding: 0;
}
.nav_menu ul{
    display: flex;
    list-style: none;
    
}
.nav_menu li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;

}
.nav{
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
}
.nav ul{
    float: right;
}
.nav_menu{
    margin-left: auto;
    margin-right: 150px;
}

.nav_menu ul li:not(:last-child){
    padding-right: 30px;
}
.logo{
    margin-left: 80px;
}
.nav_menu ul li a:hover{
    color: #10c9c3;
}
.wrapper{
    text-align: center;
    background-color: #f6f6f6;
}
.wrapper h1{
    font-size: 38px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    padding-top: 100px;
    padding-bottom: 20px;
}
.wrapper p{
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: #8e8e8e;
    padding-bottom: 100px;
}
.box_1{
    display: flex;
    height: 300px;
}
.box_1 div{
    width: 25%;
    background-image: url(https://via.placeholder.com/333px);
}
.box_2{
    display: flex;
    height: 300px;
}
.box_2 div{
    width: 25%;
    background-image: url(https://via.placeholder.com/333px);
}
.box_3{
    display: flex;
    height: 300px;
}
.box_3 div{
    width: 25%;
    background-image: url(https://via.placeholder.com/333px);
}
.footer{
    display: flex;
    background-color: black;
    height: 280px;
}
.promo-footer{
    width: 60%;
    display: flex;
}
.promo-footer img{
    margin-top: 100px;
    margin-left: 100px;
}
.footer-nav{
    width: 40%;
    display: flex;
    margin-top: 100px;
}
.footer-nav a{
    margin-left: 30px;
    text-decoration: none;
    color: #bcbcbc;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    
}
.footer-nav a:hover{
    border-bottom: 1px solid white;
}
.footer-nav ul{
    list-style: none;
    margin-left: 30px;
}
.footer-nav ul:last-child{
    margin-left: 80px;
}
.social{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 200px;
}
.social a{
    padding-top: 10px;
    text-decoration: none;
    color: #bcbcbc;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    
}